<app-topic-template
  [title]="content.title"
  [tags]="content.tags"
  [codeExamples]="content.codeExamples || []"
  [keyPoints]="content.keyPoints || []"
>
  @for (paragraph of content.paragraphs; track $index) {
    <p>{{ paragraph }}</p>
  }

  @if (content.sections) {
    @for (section of content.sections; track $index) {
      <h3>{{ section.heading }}</h3>
      <p>{{ section.content }}</p>
      @if (section.list) {
        <ul>
          @for (item of section.list; track $index) {
            <li [innerHTML]="item"></li>
          }
        </ul>
      }
    }
  }
</app-topic-template>
